src/MapZter.API/bin
src/MapZter.API/obj
src/MapZter.Contracts/bin
src/MapZter.Contracts/obj
src/MapZter.Core/bin
src/MapZter.Core/obj
src/MapZter.Entity/bin
src/MapZter.Entity/obj
src/MapZter.Logger/bin
src/MapZter.Logger/obj
src/MapZter.Proxy/bin
src/MapZter.Proxy/obj
src/MapZter.Repository/bin
src/MapZter.Repository/obj
src/MapZter.Tests/bin
src/MapZter.Tests/obj